.hero {
  background-color: #f0faff;
  padding: 5rem 2rem;
  width: 95vw;
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  text-align: left;
}

.hero-text h1 {
  font-size: 3rem;
  color: #002c4d;
  margin-bottom: 1rem;
}

.hero-text h3 {
  font-size: 1.5rem;
  color: #00567a;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.1rem;
  color: #333;
  max-width: 600px;
}

.hero-image {
  flex: 1;
  text-align: center;
}

.hero-image img {
  max-width: 100%;
  height: 550px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

@media (min-width: 320px) and (max-width: 992px) {
  .hero-content{
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-text{
    text-align: center;
  }
}